<section class="hero">
  <div class="hero-image">
    <img src="assets/profile.jpeg" alt="testr" />
  </div>
  <h1>Rushikesh Gavande</h1>
  <h2>Software Developer</h2>
  <p class="location">Pune, Maharashtra (411019)</p>
  <div class="contact">
    <span>📞 (+91) 8767991300</span> |
    <span>✉️ rushikesh.gavande10&#64;gmail.com</span> |
    <a href="https://www.linkedin.com/in/rushikesh-gavande-535154202" target="_blank">LinkedIn</a>
  </div>
  <p class="summary">
    I am a results-oriented software developer with a strong focus on backend development and hands-on experience in building full-stack web applications. My expertise lies in Java and Spring Boot, where I have developed secure RESTful APIs and role-based access control systems. My skills in managing complex databases with MySQL, paired with familiarity in front-end technologies like Thymeleaf and Angular, enable me to deliver effective software solutions.
  </p>

</section> 